.fill {
    width: 100%;
}

.top-margin {
    margin-top: 21px;
}

.lang-ico {
    position: relative;
    top: 6px;
}

.info-box {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 50%;
}

.row .user-form {
    position: relative;
    border: 1px solid rgb(196, 196, 196);
    background-color: white;
    height: 70vh;
    padding: 30px;
}

.user-form form {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.user-form .form-footer {
    color: rgb(100, 100, 100);
    font-size: 0.74rem;
    position: absolute;
    bottom: 10px;
    left:0px;
    width: 100%;
}

.page-content {
    margin-top: 3%;
    height: 80%;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.user-info {
    width: 30%;
}

.collapsible-list .collapsible-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.collapsible-list .row {
    margin-bottom: 0px;
}

.collapsible-list .list-header {
    margin: auto;
    width: 94.5%;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}

.collapsible-list .collapsible-header {
    transition: background-color 0.2s;
}

.collapsible-list .collapsible-header:hover {
    background-color: #80cbc4 !important;
}
