.fill {
    width: 100%;
}

.top-margin {
    margin-top: 21px;
}

.lang-ico {
    position: relative;
    top: 6px;
}

.info-box {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 50%;
}

.login {
    width: 20%;
}

.user-info {
    width: 30%;
}

.collapsible-list .collapsible-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.collapsible-list .row {
    margin-bottom: 0px;
}

.collapsible-list .list-header {
    margin: auto;
    width: 94.5%;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}

.collapsible-list .collapsible-header {
    transition: background-color 0.2s;
}

.collapsible-list .collapsible-header:hover {
    background-color: #80cbc4 !important;
}
